body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #FFFFFF 50%, #FFFFFF 50%);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative; /* Added to ensure child elements like logo can use absolute positioning relative to body */
}

.choice-container {
    background: #fff;
    color: #333;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.choice-container h2 {
    margin-bottom: 20px;
}

.choice-container button {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.choice-container button:hover {
    background-color: #0b5fa3;
}

.choice-container button:focus {
    outline: none;
}

.top-right-image {
    position: absolute;
    top: 30px;
    right: 30px;
}

.logo {
    position: absolute;
    top: 20px; /* Distance from the top */
    left: 20px; /* Distance from the left */
    display: flex; /* Ensures alignment within the container */
    align-items: center; /* Center align if there's more content vertically */
}

.logo {
    position: absolute;
    top: 20px; /* Adjust this value to change the vertical position */
    left: 20px; /* Adjust this value to change the horizontal position */
}

.logo img {
    width: 150px;
}