body {
    background-image: url('img/exam1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 150px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.form-section {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-section label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
    color: #333;
}

.form-section input[type="text"],
.form-section input[type="number"],
.form-section input[type="tel"],
.form-section input[type="email"],
.form-section input[type="password"],
.form-section textarea,
.form-section select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-section input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.form-section input[type="submit"]:hover {
    background-color: #0b5fa3;
}

.top-right-image {
    position: absolute; /* Positioning the element absolutely */
    top: 20px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    width: 40px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
    .form-section {
        flex: 1 1 100%;
    }
}
