{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECAS - Your Educational Companion</title>
    
    <link rel="icon" href="{% static 'img/meta1.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/a_home.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <!-- Start Logo -->
            <div class="logo">
                <img src="{% static 'img/meta1.jpg' %}" alt="ECAS Logo"/>
            </div>
            <!-- End Logo -->
            
            <!-- Slider Sentence -->
            <div class="title">
            </div>

            <!-- Navigation Bar -->
            <ul>
                <li><a href="#faculty">Study Materials</a></li>
                <li><a href="#exam">Exam</a></li>
                <li><a href="">Result</a></li>
                <li><a href="#arrangement">Seating arrangemment</a></li>
                <li><a href="{% url 'logout_user' %}">Log Out</a></li>
            </ul>
        </div>
</body>
</html>
